{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/select2/css/select2.min.css') }}"/>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container content">
        <br />
        {% if not is_granted('ROLE_ADMIN') %}
            <form method="POST" action="{{ path('add_company') }}">
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" name="company_name" class="form-control" placeholder="Ավելացնել խանութ"/>
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-primary" value="Ավելացնել" />
                    </div>
                </div>
            </form>
        {% endif %}

        <p class="text-right">{{ form.vars.value.performDate|date('d-m-Y H:i:s') }}</p>
        <form method="POST" action="#">

            <div class="row">
                <div class="col-sm-10">
                    <select id="{{ form.company.vars.id }}" name="{{ form.company.vars.full_name }}" class="form-control select2" required>
                        <option></option>
                        {% for company in companies %}
                            <option value="{{ company.id }}" {% if company.id == form.company.vars.value %}selected="selected"{% endif %}>{{ company }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="{{ form.isRegion.vars.id }}">Մարզ</label>
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.isRegion, {'attr': {'class': 'region-box form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>


            <br /><br />
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Ապրանքի անվանում</th>
                    <th>Միավոր արժեք</th>
                    <th>Զեղչ</th>
                    <th>Քանակը</th>
                    <th>Գումարը</th>
                </tr>

                {% set i = 1 %}
                {% set totalPrice = 0 %}
                {% for priceListProduct in form.priceListProducts %}
                    <input type="hidden" class="non_region_price_{{ i }}" value="{{ priceListProduct.vars.value.product.price }}"/>
                    <input type="hidden" class="region_price_{{ i }}" value="{{ priceListProduct.vars.value.product.regionPrice }}"/>
                    <tr>
                        <td>
                            {{ priceListProduct.vars.value.product.name }}
                            <input type="hidden" id="{{ priceListProduct.vars.id }}_product" name="{{ priceListProduct.vars.full_name }}[product]" value="{{ priceListProduct.vars.value.product.id }}" />
                        </td>

                        <td class="single_prices single_price_{{ i }}" data-index="{{ i }}" >
                            {{ priceListProduct.vars.value.product.price }}
                        </td>
                        <td>
                            <input onchange="calculatePrice({{ i }})" type="number" id="{{ priceListProduct.vars.id }}_discount" name="{{ priceListProduct.vars.full_name }}[discount]" min="0" value="{{ priceListProduct.vars.value.discount }}" class="form-control discount_{{ i }}"/>
                        </td>
                        <td>
                            <input onchange="calculatePrice({{ i }})" type="number" id="{{ priceListProduct.vars.id }}_quantity" name="{{ priceListProduct.vars.full_name }}[quantity]" min="0" value="{{ priceListProduct.vars.value.quantity }}" class="form-control quantity_{{ i }}"/>
                        </td>

                        {% set price = priceListProduct.vars.value.quantity * priceListProduct.vars.value.product.price %}
                        {% set totalPrice = totalPrice + price %}
                        <td class="price price_{{ i }}">{{ price }}</td>
                    </tr>

                    {% set i = i + 1 %}
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ընդհանուր գումարը</td>
                    <td class="total_price">{{ totalPrice }}</td>
                </tr>

            </table>

            <strong>Զրոյական ապրանքներ</strong>
            {% for i in 0..2 %}
                <div class="row zero-products">
                    <div class="col-sm-5">
                        <select name="zero_products[{{ i }}]" id="zero_products_{{ i }}" onchange="setRequired(this, {{ i }})" class="form-control select2">
                            <option></option>

                            {% for priceListProduct in form.priceListProducts %}
                                <option value="{{ priceListProduct.vars.value.product.id }}">{{ priceListProduct.vars.value.product.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="0" onchange="zeroSelected({{ i }})" name="zero_products_count[{{ i }}]" id="zero_products_count_{{ i }}" class="form-control" />
                    </div>
                </div>
            {% endfor %}

            <br/>

            <div class="row">
                <div class="col-sm-9">
                    {{ form_widget(form.comment, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.billingType, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-sm-1">
                    <input type="submit" class="btn btn-primary" value="Ուղարկել"/>
                </div>
            </div>
            <br />

            {{ form_widget(form._token) }}

        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/bundles/app/js/calculatePrice.js') }}"></script>
    <script src="{{ asset('/bundles/app/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript">
        $('.select2').select2();

        function setRequired(self, i){
            if(self.value){
                $("#zero_products_count_"+ i).attr('required', 'required');
            }
            else {
                var input = $("#zero_products_count_"+ i);
                input.val(null);
                input.removeAttr('required');
            }
        }

        function zeroSelected(i){
            if (!$("#zero_products_"+ i).val()){
                $("#zero_products_count_"+ i).val(null);
            }
        }

        $('#{{ form.isRegion.vars.id }}').on('change', function(){
            var checked = this.checked;
            $('.single_prices').each(function(i, self) {
                var index = $(self).attr('data-index');
                var price = checked ? $('.region_price_' + index).val() : $('.non_region_price_' + index).val();
                $('.single_price_' + index).text(price);
                calculatePrice(index);
            });

            calculateTotal();
        })

    </script>
{% endblock %}