{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

    <form method="POST" action="#">

        {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}

        <ul id="product-fields-list"
            data-prototype="{{ form_widget(form.priceListProducts.vars.prototype)|e }}"
            data-product-count="{{ form.priceListProducts|length }}">

            {% for priceListProduct in form.priceListProducts %}
                <li>
                    {#{{ form_errors(emailField) }}#}
                    {{ form_widget(priceListProduct) }}
                </li>
            {% endfor %}
        </ul>

        <a href="#" id="add-product">Add product</a>

        {{ form_widget(form._token) }}
        <input type="submit" class="btn btn-primary" />
    </form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/js/addProduct.js') }}"></script>
{% endblock %}