{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="container content">
        <form method="POST" action="{{ path('list') }}">
            <div class="row">
                <div class="col-md-3"><strong>User</strong></div>
                <div class="col-md-3"><strong>From</strong></div>
                <div class="col-md-3"><strong>To</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <select name="user" class="form-control select2" required>
                        <option></option>
                        {#{% for user in users %}#}
                            {#<option value="{{ user.id }}" {% if companyId is not null and company.id == companyId %}selected="selected"{% endif %}>{{ company }}</option>#}
                        {#{% endfor %}#}
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="date" name="start_date" class="form-control" {#value="{{ start_date }}"#}/>
                </div>
                <div class="col-md-3">
                    <input type="date" name="end_date" class="form-control" {#value="{{ end_date }}"#}/>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" value="Filter" />
                </div>
            </div>
        </form>

        <br />
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Company</th>
                    <th>Date</th>
                    <th>Total</th>
                    {% if is_granted('ROLE_ADMIN') %}<th>User</th>{% endif %}
                    <th>Actions</th>
                </tr>
                {% for priceList in priceLists %}
                    <tr>
                        <td>{{ priceList.id }}</td>
                        <td>{{ priceList.company }}</td>
                        <td>{{ priceList.performDate|date('Y-m-d') }}</td>
                        <td>{{ priceList.total }}</td>
                        {% if is_granted('ROLE_ADMIN') %}<th>{{ priceList.user.username }}</th>{% endif %}
                        <td>
                            <a href="{{ path('view', {'id': priceList.id}) }}">View</a>
                            {#<a href="{{ path('single', {'id': priceList.id}) }}">Edit</a>#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {{ knp_pagination_render(priceLists) }}

    </div>

{% endblock %}