{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/select2/css/select2.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bower_components/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bower_components/jquery-ui/themes/base/jquery-ui.min.css') }}"/>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container content">
        <form method="POST" action="{{ path('statistic') }}">
            <div class="row">
                <div class="col-sm-4"><strong>Աշխատակից</strong></div>
                <div class="col-sm-3"><strong>Խանութ</strong></div>
                <div class="col-sm-2"><strong>Սկսած</strong></div>
                <div class="col-sm-2"><strong>Մինչև</strong></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <select id="user-select" name="user[]" class="form-control select2" multiple="multiple">
                        <option value=0></option>
                        {% for user in users %}
                            <option value="{{ user.id }}" >{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3">
                    <select id="company-select" name="company" class="form-control select2">
                        <option value=0></option>
                        {% for company in companies %}
                            <option value="{{ company.id }}" {% if companyId is not null and company.id == companyId %}selected="selected"{% endif %}>{{ company }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="start_date" class="form-control datepicker" value="{{ start_date ? start_date|date('d-m-Y') : '' }}"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="end_date" class="form-control datepicker" value="{{ end_date ? end_date|date('d-m-Y') : '' }}"/>
                </div>
                <div class="col-sm-1">
                    <input type="submit" class="btn btn-primary" value="Ֆիլտրել" />
                </div>
            </div>

            <br />
            <table class="table table-striped table-bordered">

                <tr>
                    <td colspan="5" align="center" style="font-size: medium"><strong>Տնտեսական</strong></td>
                </tr>

                <tr>
                    <th>Ապրանքի անվանում</th>
                    <th>Միավոր արժեք</th>
                    <th>Քանակը</th>
                    <th>Գումարը</th>
                    <th></th>
                </tr>

                {% set i = 1 %}
                {% set totalPrice = 0 %}
                {% for data in result[constant('AppBundle\\Entity\\Product::ECONOMIC')] %}
                    <tr>
                        <td>{{ data['name'] }}</td>
                        <td>{{ data['price'] }}</td>
                        <td>{{ data['quantity'] }} {% if data['count'] > 1 %}= {{ data['allQuantity'] }}{% endif %}</td>

                        {% set totalPrice = totalPrice + data['calculatedPrice'] %}
                        <td>{{ data['calculatedPrice'] }}</td>
                        <td>
                            {% if data['count'] > 1 %}
                                <a href="#" onClick="showSaleDetails({{ data['id'] }})">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>

                    {% set i = i + 1 %}
                {% endfor %}

                {% if i > 1 %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="font-size: medium"><strong>Ընդհանուր գումարը</strong></td>
                        <td style="font-size: medium" class="total_price"><strong>{{ totalPrice }}</strong></td>
                        <td></td>
                    </tr>
                {% endif %}

                <tr>
                    <td colspan="5" align="center" style="font-size: medium"><strong>Հյութեր</strong></td>
                </tr>

                {% set i = 1 %}
                {% set totalPrice = 0 %}
                {% for data in result[constant('AppBundle\\Entity\\Product::JUICE')] %}
                    <tr>
                        <td>{{ data['name'] }}</td>
                        <td>{{ data['price'] }}</td>
                        <td>{{ data['quantity'] }} {% if data['count'] > 1 %}= {{ data['allQuantity'] }}{% endif %}</td>

                        {% set totalPrice = totalPrice + data['calculatedPrice'] %}
                        <td>{{ data['calculatedPrice'] }}</td>
                        <td>
                            {% if data['count'] > 1 %}
                                <a href="#" onClick="showSaleDetails({{ data['id'] }})">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>

                    {% set i = i + 1 %}
                {% endfor %}

                {% if i > 1 %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="font-size: medium"><strong>Ընդհանուր գումարը</strong></td>
                        <td style="font-size: medium" class="total_price"><strong>{{ totalPrice }}</strong></td>
                        <td></td>
                    </tr>
                {% endif %}

            </table>


            <div class="row">
                <div class="col-sm-10">

                </div>
                <div class="col-sm-2">
                    <br />
                    <input type="submit" name="export_btn" class="btn btn-primary" value="Excel Էքսպորտ"/>
                </div>
            </div>

        </form>

        <br />
    </div>

    <div class="modal fade" id="productsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Sale detail list</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/bower_components/jquery-ui/jquery-ui.min.js') }}"></script>

    <script type="text/javascript">
        $('.select2').select2();
        $('#user-select').val({{ userIds|json_encode|raw }}).trigger("change");

        $( ".datepicker" ).datepicker({
            dateFormat: "dd-mm-yy"
        });
    </script>
    <script>
        $('#user-select').on('change', function() {
            if(this.value){
                $('#company-select').val(null).trigger("change");
            }
        });
        $('#company-select').on('change', function() {
            if(this.value){
                $('#user-select').val(null).trigger("change");
            }
        });
    </script>

    <script type="text/javascript">
        function showSaleDetails(product) {
            var url = '{{ path('sale_details') }}';
            var params = {};
            {% if userIds is not null %}
                params.user = {{ userIds|json_encode|raw }};
            {% endif %}
            {% if companyId is not null %}
                params.company = {{ companyId }};
            {% endif %}
            {% if start_date is not null %}
                params.start_date = '{{ start_date|date('d-m-Y') }}';
            {% endif %}
            {% if end_date is not null %}
                params.end_date = '{{ end_date|date('d-m-Y') }}';
            {% endif %}

            params.product = product;

            $.post(url, params, function(data, status){
                if (data.length == 0){
                    return;
                }

                $('.modal-title').html(data[0].name);

                var body = "<table class='table table-striped table-bordered'><tr>" +
                        "<td>Ամսաթիվը</td>" +
                        "<td>Զեղչ</td>" +
                        "<td>Միավոր արժեք</td>" +
                        "<td>Քանակը</td>" +
                        "<td>Գումարը</td>" +
                "</tr>";
                for(k in data){

                    var d = new Date(data[k].performDate.date);
                    var date = (d.getDate() < 10 ? '0' : '') + d.getDate() + '-' + (d.getMonth() < 9 ? '0' : '') + (d.getMonth() + 1) + '-' + d.getFullYear();
                    var time = (d.getHours() < 10 ? '0' : '') + d.getHours() + ':' + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + ':' + (d.getSeconds() < 10 ? '0' : '') + d.getSeconds();

                    console.log(data[k].performDate.date);
                    console.log(date + ' ' + time);

                    body += "<tr>" +
                                "<td>" + date + ' ' + time + "</td>" +
                                "<td>" + (data[k].discount ? data[k].discount + '%' : '')  + "</td>" +
                                "<td>" + data[k].price + (data[k].isRegion ? '  մ' : '') + "</td>" +
                                "<td>" + data[k].quantity    + "</td>" +
                                "<td>" + data[k].total       + "</td>" +
                            "</tr>";
                }

                body += "</table>";


                $('.modal-body').html(body);
                $('#productsModal').modal('show');
            });
        }
</script>

{% endblock %}