{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container content">
        <p class="text-right">{{ priceList.performDate|date('d-m-Y H:i:s') }}</p>

        <div class="row">
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{{ priceList.company }}" disabled>
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" value="{{ priceList.billingTypes[priceList.billingType] }}" disabled>
            </div>
        </div>


        <br /><br />
        <table class="table table-striped table-bordered">
            <tr>
                <th>Product</th>
                <th>Single Price</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>

            {% set zeroPriceListProducts = priceList.zeroPriceListProducts %}
            {% set totalPrice = 0 %}
            {% for priceListProduct in priceList.priceListProducts if (priceListProduct.quantity != 0 or zeroPriceListProducts[priceListProduct.product.id] is defined) and  priceListProduct.discount != 100 %}
                <tr>
                    <td>{{ priceListProduct.product.name }}</td>
                    <td>{{ priceListProduct.product.price }}</td>
                    <td>{{ priceListProduct.discount }}</td>
                    <td>
                        {{ priceListProduct.quantity > 0 ? priceListProduct.quantity : '' }}
                        {% if zeroPriceListProducts[priceListProduct.product.id] is defined %}
                            {{ priceListProduct.quantity > 0 ? '+' : '' }} {{ zeroPriceListProducts[priceListProduct.product.id].quantity }}(-100%)
                        {% endif %}
                    </td>


                    {% set price = priceListProduct.quantity * priceListProduct.product.price * (100 - priceListProduct.discount) / 100 %}
                    {% set totalPrice = totalPrice + price %}
                    <td>{{ price }}</td>
                </tr>

            {% endfor %}

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: medium"><strong>Total Price</strong></td>
                <td style="font-size: medium" class="total_price"><strong>{{ totalPrice }}</strong></td>
            </tr>
        </table>

        <div class="row">
            <div class="col-sm-10">
                {{ priceList.comment }}
            </div>
            <div class="col-sm-2">
                <a href="{{ path('view', {'id': priceList.id, 'export': 1}) }}" class="btn btn-primary">Excel Էքսպորտ</a>
            </div>
        </div>


    </div>
{% endblock %}