{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container content">
        <p class="text-right">{{ priceList.performDate|date('Y-m-d') }}</p>

        <input class="form-control" type="text" value="{{ priceList.company }}" disabled>
        {#<select id="{{ form.company.vars.id }}" name="{{ form.company.vars.full_name }}" class="form-control select2" required>#}
            {#<option></option>#}
            {#{% for company in companies %}#}
                {#<option value="{{ company.id }}" {% if company.id == form.company.vars.value %}selected="selected"{% endif %}>{{ company }}</option>#}
            {#{% endfor %}#}
        {#</select>#}

        <br /><br />
        <table class="table table-striped table-bordered">
            <tr>
                <th>Product</th>
                <th>Single Price</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>

            {% set totalPrice = 0 %}
            {% for priceListProduct in priceList.priceListProducts %}
                <tr>
                    <td>{{ priceListProduct.product.name }}</td>
                    <td>{{ priceListProduct.product.price }}</td>
                    <td>{{ priceListProduct.quantity }}</td>

                    {% set price = priceListProduct.quantity * priceListProduct.product.price %}
                    {% set totalPrice = totalPrice + price %}
                    <td>{{ price }}</td>
                </tr>

            {% endfor %}

            <tr>
                <td>Total Price</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total_price">{{ totalPrice }}</td>
            </tr>

        </table>
    </div>
{% endblock %}